#eqn{
    height: 70px;
    width: 500px;
    background-color: violet;
    border: 2px solid black;
    font-size: 40px;
}
#btn,#opn,#eql,#clr{
    height: 50px;
    width: 50px;
    background-color: blue;
    color: white;
}
